# files currently opened by vi
*.swp
# image files 
*.png
# result files in the current directory
/*.PB.*
# memo file
zzREADME
# demo directory
demo*_tmp/
# test output directory
test-outputs/
# ignore python bytecode
*.pyc

